body {
    font-size: 150%;
}


header{

background-image: url(img/folks-laughing-at-you.jpg);
background-size: contain;
}

#sitehead {
    text-align: center;
    font-family: "Tilt warp";
    padding: 1em;
    font-size: 4em;
}

#pitch {
    text-align: center;
    font-family: "Tilt neon";
    padding: 2em;
    font-size: 1em;
}

#rundown {
    padding: 3em;
    font-family: "tilt neon";
}

#reviews {
    text-align: center;
    padding:3em;
    font-family: "tilt neon";
}